<p id="notice"><%= notice %></p>

<header class="navbar bg-gray">
  <section class="navbar-section">
    <a href="#" class="navbar-brand mr-2">Champ Posts</a>
  </section>
  <section class="navbar-section">
    <div class="input-group input-inline">
      <input class="form-input" type="text" placeholder="search">
      <button class="btn btn-primary input-group-btn">Search Posts</button>
    </div>
  </section>
</header>


<table>
  <thead>
    <link rel="stylesheet" href="css/spectre.css">
    <link rel="stylesheet" href="css/spectre-icons.css">
    <tr>
      <th>Title</th>
      <th>Factorial</th>
      <th>Body</th>
      <th>Published</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= factorial %></td>
        <td><%= post.body %></td>
        <td><%= post.published %></td>
        <td><button class="btn"><%= link_to 'Show', post %></button></td>
        <td><button class="btn"><%= link_to 'Edit', edit_post_path(post) %></button></td>
        <td><button class="btn"><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button class="btn"><%= link_to 'New Post', new_post_path%></button>

